@font-face {
    font-family: 'bien';
    src: url('font/Bienvenido.ttf') format('woff2'), url('font/Bienvenido.ttf') format('woff');
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
@keyframes jump {
    0%, 100% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        transform: translateY(-10px);
        opacity: 1;
    }
}
@keyframes shake{
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(-10px);
    }
    75% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-30vw * 29));
    }
}
* {
    transition: all 0.3s;
    margin:0;
    padding:0;
}
#hd {
    position: fixed;
    display: flex;
    top:0;
    left:0;
    width: 100%;
    height:6vw;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: rgba(13,13,13,0.95);
    transition: height 0.3s ease, background-color 0.3s ease;
}
#lg {
    display: flex;  
    padding: 0 0 0 1vw;
    align-items: center;
}
.lg {
    width: 5vw;
    border-radius: 100%;
    box-shadow: 0.1vw 0.1vw 1vw #0D0D0D;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
}

.lg:hover {
    transform: rotate(360deg);
}
#ls {
    list-style-type: none;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: flex-end;
}
#divhd {
    display: none;
}
#mnm {
    display: none;
}
#lsm {
    display: none;
}
.nv {
    font-family: 'bien';
    font-size: 1.25vw;
    text-decoration: none;
    color: #F0F0F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}
.nv:hover {
    color: #E80000;
    border-radius:100%;
}
.lgul {
    font-family: 'bien';
    font-size: 1.25vw;
    color:#F0F0F0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lgul:hover {
    color:#E80000;
    cursor:pointer;
}
.lgdv{
    position:absolute;
    top:4vw;
    background:rgba(13,13,13,0.95);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 1vw;
}
.lgul li {
    display: none;
    position: relative;
    padding:0.5vw;
}
.lgul:hover li {
    display: flex;
    width:5vw;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    animation: slideDown 1s ease-in-out;
}
.im {
    width: 1.5vw;
    padding: 0.5vw;
}
#ft {
    position: absolute;
    display: flex;
    width: 100%;
    height: 2vw;
    bottom: revert;
    justify-content: center;
    align-items: center;
    background: rgba(13,13,13,1);
}
.fttx {
    font-family: 'bien';
    font-size: 1vw;
    color: #F0F0F0;
}
#sc1 {
    position: relative;
    display: flex;
    width: 100%;
    height: 48vw;
    justify-content: center;
    align-items:center;
    align-items: center;
}
#sc1::before {
    content: ""; /* Necessário para criar o pseudoelemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Cor preta com 50% de transparência */
    z-index: 0; /* Garante que a película fique sobre o vídeo, mas atrás do conteúdo */
}
.video-fundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
.video-fundo video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tt1 {
    font-family: 'bien';
    font-size: 5vw;
    text-align: center;
    text-shadow:0.1vw 0.1vw 0.5vw #0D0D0D;
    text-decoration:underline;
    letter-spacing: 0.2vw;
    color: #F0F0F0;
    z-index: 1;
}
#inspiracao {
    display: flex;
    width: 100%;
    height: 90vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(13,13,13,0.95);
}
.dv1{
    display: flex;
    width:100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.tt2{
    font-family: 'bien';
    font-size:1.6vw;
    text-align: center;
    color:#F0F0F0;
    width: 100%;
    padding: 2vw 0;
}
.tx1{
    font-family: 'bien';
    font-size: 1.2vw;
    text-align: justify;
    letter-spacing: 0.1vw;
    color:#F0F0F0;
    width:76%;
}
.dv2{
    display: flex;
    width: 80%;
    padding:2vw;
    justify-content: center;
    align-items: center;
}
.dv3{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tt3{
    font-family: 'bien';
    font-size:1.5vw;
    text-align: center;
    letter-spacing: 0.1vw;
    color:#F0F0F0;
    width: 100%;
    padding:2vw 0;
}
.tx2{
    font-family: 'bien';
    font-size:1.2vw;
    text-align: justify;
    letter-spacing: 0.1vw;
    color:#F0F0F0;
    width: 90%;
}
.im1{
    display: flex;
    width: 35vw;
    height:20vw;
    justify-content: center;
    align-items: center;
    border-radius:1vw;
    box-shadow:0 0 1vw #F0F0F0;
}
.separator{
    width:5vw;
    padding:1vw 0;
    border-top: 1px solid #F0F0F0;
}
#contato {
    display: flex;
    width: 100%;
    height: 40vw;
    padding: 5vw 0;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    background-image: url(images/helipa.webp);
    background-size: cover;
    position:relative;
}
#contato::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.dv4 {
    display: flex;
    width: 40%;
    height: 30vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(13,13,13,0.95);
    border-radius:2vw;
    z-index:1;
}
.tt4 {
    font-size: 2vw;
    font-family: 'bien';
    font-weight: 700;
    text-align: center;
    text-shadow: 0.1vw 0.1vw 0.1vw #100D28;
    color: #F0F0F0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.tx4 {
    font-family: 'bien';
    font-weight: 600;
    font-size:1.5vw;
    text-align: center;
    text-decoration: none;
    text-shadow: 0.1vw 0.1vw 0.1vw #100D28;
    hyphens: auto;
    color: #F0F0F0;
    width: 100%;
}
.tx41 {
    font-family: 'bien';
    font-weight: 600;
    font-size:1.5vw;
    text-align: center;
    text-decoration: none;
    text-shadow: 0.1vw 0.1vw 1vw #100D28;
    hyphens: auto;
    color: #F0F0F0;
    width: 100%;
}
.tx41:hover {
    color: #e80000;
}
.dv5{
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.im4 {
    width: 3vw;
    padding: 1vw;
}
.im4:hover {
    background:#e80000;
    border-radius:100%;
    cursor: pointer;
}
.im41 {
    width: 50%;
    height: 30vw;
    box-shadow: 0 0 0.5vw #F0F0F0;
    border-radius: 2vw;
    z-index: 1;
}
.sobredv {
    position: relative;
    display: flex;
    width: 100%;
    height: 48vw;
    justify-content: center;
    align-items:center;
    align-items: center;
}
.sobredv::before {
    content: ""; /* Necessário para criar o pseudoelemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Cor preta com 50% de transparência */
    z-index: 0; /* Garante que a película fique sobre o vídeo, mas atrás do conteúdo */
}
.sobredv0 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
.sobrehero {
    min-width: 100%;
    min-height: 100%;
    width: 50vw;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sobrett1{
    font-family: 'bien';
    font-size: 5vw;
    text-align: center;
    text-shadow:0.1vw 0.1vw 0.5vw #0D0D0D;
    text-decoration:underline;
    letter-spacing: 0.2vw;
    color: #F0F0F0;
    z-index: 1;
}
.sobredv1{
    position:relative;
    display: flex;
    width: 100%;
    height: 145vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(13,13,13,0.95);
}
.sobredv12{
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.sobretx{
    font-family: 'bien';
    font-size:1.5vw;
    text-align: justify;
    text-align-last: center;
    color:#F0F0F0;
    padding: 0 0 2vw 0;
}
#presta {
    display: flex;
    width: 100%;
    height: 30vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(13,13,13,0.95);
}
.slideres {
    position: relative;
    display:flex;
    width: 70%;
    height: 20vw;
    margin: auto;
    justify-content:center;
    align-items:center;;
    background: transparent;
    overflow: hidden;
}

.slideres::before,
.slideres::after {
    content: "";
    position: absolute;
    width: 3vw;
    height: 20vw;
    background: linear-gradient(to right, rgba(13,13,13, 1) 0%, rgba(13,13,13,0) 100%);
    z-index: 2;
}

.slideres::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slideres::before {
    top: 0;
    left: 0;
}

.slide-track {
    display: flex;
    width: calc(2vw * 30);
    animation: scroll 60s linear infinite;
}

.slides {
    display: flex;
    width: 20vw;
    height: 16vw;
    margin: 0 5vw;
    justify-content: center;
    align-items: flex-start;
}
.slidesimages{
    width:30vw;
    height:17vw;
    border-radius:1vw;
    box-shadow:0 0 1vw rgba(255, 255, 255, 0.3);
}
.sobredv2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:70%;
    padding:2vw;
}
.sobredv21{
    display:flex;
    height:15vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sobredv212{
    display:flex;
    height:15vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sobredv3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:50%;
    padding:2vw;
}
.sobreim3{
    width:10vw;
}
.tt5{
    text-align:center;
    color:#F0F0F0;
}
.sobredv4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:70%;
    padding:2vw;
}
.sobretx1{
    font-family: 'bien';
    font-size:1.5vw;
    text-align: justify;
    color:#F0F0F0;
}
.sobreim1{
    width:30vw;
    height:20vw;
    border-radius:1vw;
}
.sobrebt{
    font-family: 'bien';
    text-align: center;
    color:#0D0D0D;
    width:auto;
    height:2vw;
    justify-content: center;
    align-items: center;
    padding:2vw;
    margin:5vw 0;
    background:#F0F0F0;
    border-radius:2vw;
}
.sobrebt:hover{
    box-shadow: 0vw 0vw 1vw #F0F0F0;
    cursor:pointer;
}
.sobreim2{
    width: 2.5vw;
}

#doar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:60vw;
    background:#0D0D0D;
}
.doartt1{
    font-family: 'bien';
    font-size:3vw;
    text-align:center;
    color:#F0F0F0;
    padding:2vw 0;
}
.doardv0{
    display:flex;
    width:100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.doardv01{
    display: grid; /* Define o grid */
    grid-template-columns: repeat(2, 1fr); /* 2 colunas com o mesmo tamanho */
    gap: 2vw; /* Espaçamento entre as fotos */
    width:80%;
    height:100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.doardv02{
    display: grid; /* Define o grid */
    grid-template-columns: repeat(2, 1fr); /* 2 colunas com o mesmo tamanho */
    gap: 2vw; /* Espaçamento entre as fotos */
    width:80%;
    height:100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.doardv1{
    display:flex;
    width:80%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.doardv2{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height:15vw;
}
.doardv2 ul{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding:2vw 0;
}
.doartt2{
    font-family: 'bien';
    font-size:2vw;
    text-align:center;
    color:#F0F0F0;
}
.doarim0{
    display:flex;
    width:15vw;
    height:15vw;
    justify-content: center;
    align-items: center;
    border-radius:1vw;
    box-shadow: 0 0 0.5vw #F0F0F0;
}
.doarim2{
    display:flex;
    width:15vw;
    height:15vw;
    justify-content: center;
    align-items: center;
    border-radius:1vw
}
.whats{
    position:fixed;
    display:flex;
    width:6vw;
    justify-content:center;
    align-items:center;
    bottom:1vw;
    right:1vw;
    cursor:pointer;
    animation: shake 4s ease-in-out infinite;
    z-index:100;
}
.loading {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: #0D0D0D;
    z-index: 100;
    opacity: 1;
}
.word {
    font-size:5vw;
    color: #F0F0F0;
    position: fixed;
    display: block;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.letter{
    display: inline-block;
    animation: bounce 0.45s infinite alternate;
}
.letter:nth-child(1) {
    animation-delay: 0s;
}
.letter:nth-child(2) {
    animation-delay: 0.2s;
}
.letter:nth-child(3) {
    animation-delay: 0.4s;
}
.letter:nth-child(4) {
    animation-delay: 0.6s;
}
.letter:nth-child(5) {
    animation-delay: 0.8s;
}
.letter:nth-child(6) {
    animation-delay: 1.0s;
}
.letter:nth-child(7) {
    animation-delay: 1.2s;
}
.letter:nth-child(8) {
    animation-delay: 1.4s;
}
/* Estilo dos pontinhos pulando */
.dots {
    font-size: 2rem;
    color: #F0F0F0;
    position:fixed;
    display: inline-block;
    bottom:20vw;
}
.dot {
    display: inline-block;
    opacity: 0;
    animation: jump 1.2s infinite ease-in-out;
}
.dot:nth-child(1) {
    animation-delay: 0s;
}
.dot:nth-child(2) {
    animation-delay: 0.4s;
}
.dot:nth-child(3) {
    animation-delay: 0.8s;
}
@media screen and (max-width:768px) {
    html, body {
        overflow-x: hidden; /* Impede rolagem horizontal */
        overflow-y: scroll; /* Permite rolagem vertical */
    }
    #hd {
        height: 15vw;
    }
    .lg {
        width: 10vw;
    }
    #ls {
        display: none;
    }
    #divhd {
        display: flex;
    }
    #mnm {
        display: flex;
        width: 10vw;
    }
    #lsm {
        position: absolute;
        display: none;
        width: 100%;
        height: 220vw;
        top: 14vw;
        right: 0;
        background: rgba(13,13,13,0.95);
    }
    .lsm{
        list-style-type: none;
        display: flex;
        width:100%;
        padding:5vw;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
    }
    .nvli{
        width:100%;
        border-bottom:0.1vw solid #F0F0F0;
    }
    .nvls{
        font-size:4vw;
        text-decoration:none;
        color:#F0F0F0;
        display:flex;
        width:100%;
        flex-direction: row-reverse;
        justify-content:flex-end;
        align-items: center;
        padding:5vw 0;
    }
    .imls{
        width:5vw;
        padding:0 10vw 0 0;
    }
    .lgul {
        font-size: 4vw;
        text-decoration: none;
        width: 100%;
        padding:5vw 0;
        flex-direction: row-reverse;
        justify-content: flex-end;
        transition: 0.5s ease-in-out;
    }
    .lgdv{
        position:absolute;
        display:flex;
        width:20vw;
        top:15vw;
        left:0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:rgba(13,13,13,0);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
        border-radius: 0;
    }
    .lgul li {
        display: none;
        position: relative;
        padding:0.5vw;
    }
    .lgul:hover li {
        display: flex;
        width:5vw;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        animation: slideDown 1s ease-in-out;
    }
    .nv{
        font-size:5vw;
        width:100%;
        flex-direction: row;
        justify-content: flex-start;
    }
    .im {
        width: 5vw;
        padding: 0 10vw 0 0;
    }
    .language-dropdown a {
        text-decoration: none;
        color: #333;
        display: block;
        padding: 8px 15px;
    }
    
    .language-dropdown a:hover {
        background-color: #f0f0f0;
    }
    #ft {
        position: absolute;
        display: flex;
        width: 100%;
        height: 15vw;
        bottom: revert;
        justify-content: center;
        align-items: center;
        background: rgba(13,13,13,1);
    }
    .fttx {
        font-family: 'bien';
        font-size: 5vw;
        text-align:center;
        color: #F0F0F0;
    }
    #sc1 {
        height: 220vw;
    }
    .video-fundo video{
        left: 105%;
        transform: translate(-50%, -52%);
    }
    .tt1 {
        font-size: 10vw;
    }
    #inspiracao {
        height: 500vw;
    }
    .tt2{
        font-size:5vw;
    }
    .tx1{
        font-size:4vw;
    }
    .dv2{
        width: 100%;
        flex-direction: column-reverse;
    }
    .dv3{
        width: 80%;
    }
    .tt3{
        font-size:5vw;
    }
    .tx2{
        font-size:4vw;
    }
    .im1{
        width: 65vw;
        height:50vw;
    }
    .separator{
        width:10vw;
    }
    #contato {
        height: 220vw;
        flex-direction:column;
        justify-content: space-evenly;
    }
    .dv4 {
        width: 90%;
        height: 100vw;
        margin:5vw;
    }
    .tt4 {
        font-size: 10vw;
    }
    .tx4 {
        font-size:5vw;
    }
    .tx41 {
        font-size:5vw;
    }
    .im4 {
        width: 10vw;
        padding: 1vw;
    }
    .im41 {
        width: 90%;
        height: 70vw;
    }
    .sobredv {
        height: 220vw;
    }
    .sobrehero {
        width: auto;
        height: 50vw;
    }
    .sobrett1{
        font-size: 10vw;
    }
    .sobredv1{
        height: 650vw;
    }
    .sobretx{
        font-size:5vw;
    }
    .sobredv2{
        display: grid; /* Define o grid */
        grid-template-columns: repeat(2, 1fr); /* 2 colunas com o mesmo tamanho */
        gap: 5vw; /* Espaçamento entre as fotos */
        height:100vw;
        padding:10vw 0;
    }
    .sobredv212{
        grid-column: span 2; /* Faz o item ocupar as 2 colunas */
        display: flex;
        justify-content: center; /* Centraliza o item */
    }
    .sobreim3{
        width:15vw;
    }
    .tt5{
        font-size:5vw;
        text-align:center;
        color:#F0F0F0;
    }
    .sobretx1{
        font-family: 'bien';
        font-size:5vw;
        text-align: justify;
        color:#F0F0F0;
    }
    .sobrebt{
        font-size:5vw;
        height:15vw;
        padding:5vw;
        border-radius:10vw;
    }
    .sobreim2{
        width: 10vw;
    }
    #doar{
        height:210vw;
    }
    .doartt1{
        font-size:10vw;
    }
    .doardv0{
        flex-direction: column;
        justify-content: center;
    }
    .doardv1{
        padding: 50vw 0 0 0
    }
    .doardv01{
        display: none;
    }
    .doardv02{
        display: none;
    }
    .doarim2{
        width:50vw;
        height:50vw;
    }
    .whats{
        width:15vw;
        bottom:15vw;
        right:5vw;
    }
    .dots {
        bottom:100vw;
    }
}