<!--|Import|-->
<link rel="stylesheet" href="../../assets/css/style.css">
<!--|Import|-->

<footer id="ft">
	<div class="ft_dv">
		<a href="politica" class="ft_lk">
			<h2 class="ft_tt">
				<img class="ft_im" src="../../assets/images/botoes/politica.svg" />Privacy Policy
			</h2>
		</a>
		<a href="termos" class="ft_lk">
			<h2 class="ft_tt">
				<img class="ft_im" src="../../assets/images/botoes/termo.svg" />Terms of Use
			</h2>
		</a>
	</div>
	<p class="fttx">© <span id="ano-atual"></span> All rights reserved
		<a class="ft_lk" href="https://www.instagram.com/associacaoalcancandovidas/" target="_blank">Associação Project Reaching Lives</a> | Developed by <a class="ft_lk" href="https://www.instagram.com/yuriyoshimiyashiro/" target="_blank">Unique</a>.
	</p>
</footer>